# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
!frontend/dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
env/
ENV/

# Data
data/profiles/
data/sessions/
analyzed_sessions/

# Node
node_modules/
package-lock.json

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Design files
*.psd

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Flask
instance/
.webassets-cache
